.level-one {
    background-color: #F6F1F1;
}

.level-two {
    background-color: #AFD3E2;
}

.level-three {
    background-color: #19A7CE;
}

.level-four {
    background-color: #146C94;
}
